body {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a {
    color: #269de3;
}
a:hover {
    color: #104362;
    text-decoration: none;
}
.header-page-block {
    border-bottom: 2px solid #eef0f1;
}
.header-row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
}
.footer-logo img {
    width: 90px;
}
.header-logo img {
    width: 200px;
}
.header-logo {
    width: 30%;
}
.header-title-block {
    width: 70%;
}
.header-title-block h1 {
    color: #ec1f24;
    font-size: 70px;
    margin-top: 0;
}
.header-description {
    font-size: 24px;
}
.header-title-block {
    text-align: center;
}
.header-slogan {
    font-size: 24px;
    color: #269de3;
    font-weight: bold;
}
.header-btn button {
    background-color: #269de3;
    padding: 10px;
    color: #fff;
    border: 2px solid #269de3;
    border-radius: 4px;
    display: block;
}
.header-btn button:hover {
    color: #269de3;
    background-color: #fff;
}
.header-contact a {
    color: #269de3;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.header-contact {
    text-align: right;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #269de3;
    font-weight: bold;
}
.header-contact a:hover {
    color: #104362;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #104362;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-links:last-child {
    text-align: right;
}
.chevron-background {
    font-size: 55px;
    color: #269de3;
}
.main-sub-title {
    text-align: center;
}
.main-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
h1 {
    font-family: 'Lobster', cursive;
}
.image-consult {
    margin-bottom: 20px;
}
.courses-img img {
    width: 100%;
}
.courses-flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.courses-item {
    width: 19%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #eef0f1;
}
.courses-title {
    text-align: center;
    font-weight: bold;
}
.courses-img {
    margin-bottom: 10px;
}
.free-service-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
}
.free-service-item i {
    color: #269de3;
    font-size: 30px;
    margin-right: 10px;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form a {
    background-color: #269de3;
    padding: 10px;
    color: #fff;
    border: 2px solid #269de3;
    border-radius: 4px;
    display: block;
    text-align: center;
}
.owl-feedback-form a:hover {
    background-color: #fff;
    color: #269de3;
}
button.close {
    z-index: 1;
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 26px;
}
.order-btn {
    text-align: center;
    margin-bottom: 40px;
}
.main-button-obj {
    background-color: #269de3;
    color: #fff;
    font-weight: bold;
    border: 2px solid #269de3;
    border-radius: 4px;
    padding: 10px 20px;
}
.main-button-obj:hover {
    background-color: #fff;
    color: #269de3;
}
.image-consult img {
    width: 100%;
}
.contact-block-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.map-block {
    margin-bottom: 40px;
}
.back-footer {
    border-top: 2px solid #eef0f1;
    padding: 40px 0;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.footer-links a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.footer-copyright {
    text-align: center;
}
.footer-copyright p {
    font-size: 12px;
}
.footer-links {
    margin-right: 20px;
}
.contact-block-flex a {
    font-weight: bold;
}
.contact-title-bold {
    font-weight: bold;
    font-size: 22px;
}
.contact-sub-title {
    font-size: 18px;
}
blockquote {
    font-size: 28px;
}
.main-check-bottom {
    margin-bottom: 60px;
}
.main-flex-block {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.main-object-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.main-title-object-block {
    width: 50%;
}
.main-block-image {
    width: 33%;
}
.main-block-image img {
    width: 100%;
}
.main-block-flex-text {
    font-size: 26px;
    font-weight: bold;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .header-logo img {
        width: 150px;
    }
}
@media(max-width: 991px) {
    .header-contact {
        text-align: left;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
    .courses-item {
        width: 32%;
    }
    .header-title-block {
        width: 75%;
    }
    .header-logo {
        width: 24%;
    }
}
@media (max-width: 767px) {
    .header-contact a {
        font-size: 18px;
    }
    .header-time-text {
        font-size: 16px;
    }
    .header-btn {
        margin: 0 15px 15px 0;
    }
    .header-time {
        margin-bottom: 15px;
    }
    .courses-item {
        width: 49%;
    }
    .footer-flex {
        flex-direction: column;
    }
    .contact-block-flex {
        flex-direction: column;
    }
    .header-row-flex {
        justify-content: center;
    }
    .footer-logo {
        width: 100%;
        text-align: center;
    }
    .header-title-block h1 {
        font-size: 50px;
    }
    .header-description {
        font-size: 20px;
    }
    .main-flex-block {
        flex-direction: column;
    }
    .main-title-object-block {
        width: 100%;
    }
    .main-block-image {
        width: 100%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #269de3;
    }
    .navbar-default .navbar-toggle {
        border-color: #269de3;
    }
}
@media(max-width: 600px) {
    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-row-flex {
        flex-direction: column;
    }
    .header-title-block {
        width: 100%;
    }
}
@media (max-width: 410px) {
    .header-logo a {
        flex-direction: column;
    }
}